<article id="content" class="page page--<%= _.pageName %>">
  <div class="sections pb-1 pb-sm-2 pb-lg-4">
    <%
    // load page sections and render each one
    const { sections } = _.state
    if (Array.isArray(sections)) {
      for (let i = 0; i < sections.length; i++) {
        const opt = sections[i]
        if (opt && opt.enabled !== false) {
          %>
          
          <%- await include(`@/sections/${opt.type}`, { _, opt }) %>
          <%
        }
      }
    }
    %>

    <% if (_.pageName.includes('posts/')) { %>
      <br class="pt-5">
      <h4 class="products-carousel__title mt-5 pt-5">
      <span>Veja mais <b>artigos</b></span>
      </h4>
      
      <%- await include(`@/sections/blog`, { _ }) %>      
    <% } %>

  </div>
</article>
