// Add your custom CSS here.
@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1280px;
    }
}
body:not(.app){opacity:0;}
body.loaded{opacity:1;}
.justify-content-between{justify-content:space-between}
.justify-content-center{justify-content:center}
.align-items-center{align-items:center}
.align-items-bottom{align-items:flex-end}
#alpix .top-bar__countdown{
    background: #feedd7!important;
    color: #000!important;
    font-size: 13px;
    font-weight: bold;
}
#alpix body{
    font-family:'Montserrat'
}
.text-center{text-align:center}
.text-right{text-align:right}
.text-left{text-align:left}
#alpix .header__buttons{text-align:right}
#alpix .header__logo{max-height:93px;max-width:100%;}
#alpix .logo__container{
    width: fit-content;
    display: block;
    margin: 0 auto;
}
#alpix .header{background:#fff;padding-bottom:0;}
#alpix .header .btn-functions{
    margin-left:1rem;
}
#alpix .header .btn-functions > div{align-items:center}
#alpix .header .btn-functions > div > span{
    font-size: 13px;
    color: #000;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 16px;
    margin-left: 10px;
    text-align:left;
}
#alpix .header .btn-functions > div > span #cart-count{
    position: relative;
    padding: 0;
    background: transparent;
    font-weight: 600;
    right: auto;
    top: auto;
    font-size: 13px;
}
#alpix .header__search{width:fit-content}
#alpix .header__search-input{
    border-bottom: 1px solid #000;
    width: 225px;
    border-radius: 0;
    font-size: 13px;
    padding-left: 0;
    height: 40px;
}
#alpix .header__search-btn{
    margin: 0 0 0 0;
    top: 0;
    right: 0;
    height: 40px;
    padding: 0 5px 5px 0;
}
#alpix .header__nav{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}
#alpix .header__nav a{
    color: #000;
    font-weight: 600;
    font-size: 13px;
}
#alpix .header__nav a:first-child{padding-left:0}
#alpix .header__nav a:last-child{padding-right:0}

#alpix .footer__credits{
    background: #fff;
    border: 0;
}
#alpix .footer__credits h2{
    font-size: 12px;
    font-weight: 600;
    color: #000;
    text-align: center;
}
#alpix .footer__credits span,
#alpix .footer__credits p{
    font-size: 11px;
    font-weight: 400;
    color: #000;
    text-align: center;
    display:block;
    margin-bottom:10px;
}
#alpix .footer{
    background-image: unset;
    background-color: #49372e;
    padding-bottom: 0;
    border:0;
}
#alpix .footer__title{
    font-size: 1.125em;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
}
#alpix .footer .list-unstyled{}
#alpix .footer .list-unstyled .footer__list-icon i{color:#fff!important;font-size: 0.6875em;}
#alpix .footer .footer__texto{
    color: #fff;
    font-size: 0.6875em;
    font-weight: bold;
    margin: 1rem 0;
}
#alpix .footer .footer__texto a{color:#fff}
#alpix .footer .list-unstyled a,
#alpix .footer__links a{
    color: #fff;
    font-size: 0.6875em;
    font-weight: bold;
    margin: 1rem 0;
}
#alpix .footer .footer__social a,
#alpix .footer .footer__social a i{opacity:1}
.footer__links a{font-weight:300!important;text-transform:uppercase;}
#alpix .footer__credits{margin-top:3rem;}
.ecom-credits{padding-top:.5rem;}

#alpix .product-card__name{
    font-size: 0.8125em;
    text-align: center;
    color: #000;
    font-weight: 500;
}
#alpix .product-card__prices{text-align:center;}
#alpix .product-card__prices .prices__compare{
    display:inline-block;
    vertical-align:middle;
    margin-right:10px;
}
#alpix .product-card__prices .prices__value{
    font-weight: 500;
    display: inline-block;
    text-align: center;
    font-size: 1.2857142857142858em;
    color: #000;
}
#alpix .product-card__buy.fade{
    opacity:1!important;

}
#alpix .product-card__buy.fade .btn,
#alpix .offers-timer a{
    background: transparent;
    color: #000;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 32px;
    padding: 0 2.5rem;
    border: 1px solid #000;
    border-radius: 32px;
    width: fit-content;
    margin: 1rem auto 0 auto;
}
#alpix .product-card .product-card__buy.fade .btn,
#alpix .offers-timer a{
    background: #6ccf7a;
    border-color: #6ccf7a;
    color:#fff;
}
#alpix .product-card__buy .fas{display:none!important}
#alpix .product-card__link_direct{
    font-size: 11px;
    color: #000;
    display: block;
    width: fit-content;
    border-bottom: 1px solid #000;
    text-transform: uppercase;
    margin: 1rem auto 0 auto;
    font-weight: 500;
    padding-bottom: 3px;
    text-decoration: none!important;
}
#alpix .product-card .prices__installments,
#alpix .product-card .prices__discount{display:none;}
#alpix .product-card:hover{box-shadow:0px 0px 0px;}

#alpix .products-carousel__title{margin-top:2rem;}
#alpix .products-carousel__title span,
#alpix .products-carousel__title b{
    font-weight: 800;
    text-transform: uppercase;
}
#alpix .products-carousel__title b{color:#755f72}
#alpix .products-carousel__title:before,
#alpix .page-title__head:before{
    position: relative;
    content: "\\\\\\\\\\\\\\\\\\\\\\\\";
    color: #755f72;
    top: auto;
    width: auto;
    left: auto;
    background: transparent;
    font-weight: bold;
    letter-spacing: 3px;
    display: block;
    height: auto;
    opacity: .5;
    font-size: 18px;
    margin-bottom: 1.5rem;
}
#alpix .card{border:0}
#alpix .card-body{padding:1.25rem 0;}
#alpix .card-body .card-title {    margin: 1rem 0 1.75rem 0;}
#alpix .card-body .card-title a{
    color: #000;
    font-size: 19px;
    font-weight: 800;
}
#alpix .card-body .card-text{
    color: #000;
    font-size: 13px;
    line-height: 22px;
    text-align: justify;
}
#alpix .card-body .read-more{
    font-size: 11px;
    color: #000;
    display: block;
    width: fit-content;
    border-bottom: 1px solid #000;
    text-transform: uppercase;
    margin: 1.75rem 0 0 0;
    font-weight: 500;
    padding-bottom: 3px;
    text-decoration: none!important;
}

#alpix .breadcrumb{}
#alpix .breadcrumb > li{
    color: #717171;
    font-size: 0.6875em;
    font-weight: 600;
    text-transform: uppercase;
}

#alpix .breadcrumb > li > a{color: #717171;font-weight:600;}
#alpix .breadcrumb-item+.breadcrumb-item:before{
    padding-right: 3px;
    color: #717171;
}

#alpix .page--products .product__name{
    font-size: 1.5em;
    font-weight: 800;
    color: #000;
}
#alpix .page--products .product__resume{font-size: 0.8125em;border-bottom:1px solid #000;color:#000;line-height:24px;}
#alpix .page--products .prices--big .prices__value{
    font-size: 1.875em;
    font-weight: 500;
}
#alpix .page--products .prices__compare{}
#alpix .page--products .prices__compare small,
#alpix .page--products .product__discount,
#alpix .page--products .product__short-stock,
#alpix .page--products .product__short-stock + div.mb-3{display:none!important;}
#alpix .page--products .prices__compare{
    color: #6d6e71;
    font-size: 0.9375em;
    margin-bottom: .5rem;
    display: block;
}
#alpix .page--products .product__buy button.btn,
#alpix .page--products .quantity-selector__buy button.btn{
    height: 48px;
    // background: #78d100;
    background:#755f72;
    color: #fff;
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    width: 275px;
    border-radius: 50px;
    border: 0;
}

#alpix .page--products .variations__grid-title,
#alpix .page--products .kit__title,
#alpix .specification__row label,
#alpix .page--products .shipping-calculator label{
    font-size: 0.8125em;
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
}
#alpix .page--products .shipping-calculator .btn{
    border:0;
    height:34px;
    border-radius:0;
    background:#fff!important;
    color:#000!important;
    border-bottom:1px solid #000;
    outline:none;
}
#alpix .page--products .shipping-calculator #shipping-calculator-zip{
    border:0;
    border-bottom:1px solid #000;
    font-size:12px;
    border-radius:0;
    height:34px;
}
// #alpix .page--products .variations{
//     border-top: 1px solid #000;
//     padding-top: 1.5rem;
//     margin-top: 3rem;
// }
#alpix .page--products .product__prices{
    border-bottom: 1px solid #000;
    padding-bottom: 3rem;
    margin-bottom: 1.5rem;
}

#alpix .page--products .shipping-calculator{margin-top:3rem;}
#alpix .page--products .shipping-calculator .form-group{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
#alpix .page--products .shipping-calculator label{
    white-space: nowrap;
    margin-right: 2rem;
    margin-bottom:0;
}
#alpix .page--products p.lead a{display:none}
#alpix .page--products p.lead{
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1.5rem;
    display: block;
    text-align: center;
    position: relative;
    padding: var(--spacer-3);
    margin: 0;
    margin-top: 2rem;
}
#alpix .page--products p.lead:before {
    position: relative;
    content: "\\\\\\\\\\\\\\\\\\\\\\\\";
    color: #755f72;
    top: auto;
    width: auto;
    left: auto;
    background: transparent;
    font-weight: 700;
    letter-spacing: 3px;
    display: block;
    height: auto;
    opacity: .5;
    font-size: 18px;
    margin-bottom: 1rem;
}

#alpix .page--products .html-clearfix{
    max-width: 60%;
    margin: 1rem auto;
    text-align: center;
    font-weight: 500;
    font-size: 13px;
}

#alpix .page--products #product-specs .table{
    max-width: 40%;
    margin: 1rem auto;
}
#alpix .page--products #product-specs .table td{background:transparent!important;color:#000!important;}
#alpix .page--products #product-specs .table td:first-child{font-weight:600;color:#000;text-transform:uppercase;font-weight:800;}
#alpix .page--products #product-specs .table td:last-child{
    text-transform:uppercase;
    text-align:right;
}
#alpix .page--products .table-striped tbody tr:first-child td{border:0!important}
#alpix .page--products .table-striped tbody tr:nth-of-type(odd){background:transparent}

#alpix .footer .footer__payment-methods > img{
    display: inline-block;
    margin: 15px 30px 15px 0!important;
}

#alpix .page--home > .sections > .banners-grid:first-child{margin-top:0!important}
#alpix .page--home > .sections > .banners-grid:first-child > .container{
    width: 1920px;
    max-width: unset;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin:0;
    padding:0
}
#alpix .page--home > .sections > .banners-grid:first-child .row,
#alpix .page--home > .sections > .banners-grid:first-child .col-12{margin:0;padding:0;}
#alpix .page--home > .sections > .banners-grid:first-child .banner{margin:0;padding:2.5px;display:block;}
#alpix .header{box-shadow:0px 0px 0px}

#alpix .page--home > .sections > .banners-grid:not(:first-child) a{position:relative;display:block;}
#alpix .page--home > .sections > .banners-grid:not(:first-child) a > label.floating-title{
    font-size: 1.125em;
    position: absolute;
    color: #fff;
    font-weight: 600;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
}
#alpix .page--home > .sections > .banners-grid:not(:first-child) a > label.floating-title:after{
    content: "";
    height: 8px;
    width: 100px;
    background: #728f70;
    display: block;
    margin: 20px auto 0 auto;
}
#alpix .page--home > .sections > .banners-grid:not(:first-child) a{transition:opacity .2s;}
#alpix .page--home > .sections > .banners-grid:not(:first-child) a:hover{
    opacity:.8
}


#alpix .page--products .quantity-selector__input{
    border: 0;
    border-bottom: 1px solid #000;
    border-radius: 0;
    font-weight: 600;
    color: #212529;
    font-size: 0.8571428571428571em;
    height:36px;
}
#alpix .page--products .quantity-selector__item button {
    color: #212529;
    border-bottom: 1px solid #000;
    border-radius: 0;
    height: 36px;
}
#alpix .page--products .quantity-selector__item button i:before{font-weight:bold;}
#alpix .page--products .quantity-selector__item button i.fa-chevron-up:before{content: "+";}
#alpix .page--products .quantity-selector__item button i.fa-chevron-down:before{content: "-";}
#alpix .page--products .quantity-selector__label{margin-left:1rem;}
#alpix .page--products .quantity-selector__label a{
    color: #212529;
    font-size: 0.8571428571428571em;
    font-weight: 500;
}
#alpix .page--products .product__prices .prices__installments{margin-bottom:5px;}
#alpix .page--products .product__prices .prices__installments,
#alpix .page--products .product__prices .prices__discount{
    color: #6d6e71;
    font-size: 0.9375em;
    font-weight:600;
}
#alpix .page--products .product__prices .prices__discount span,
#alpix .page--products .product__prices .prices__installments span{font-weight: 600;}

#alpix .page--products .product__prices .prices__installments:before{
    content: "";
    background-image: url(/assets/cartao_prod.png);
    width: 16px;
    height: 11px;
    display: inline-block;
    margin-right: .5rem;
    vertical-align: middle;
}
#alpix .page--products .product__prices .prices__discount:before{
    content:"";
    background-image:url(/assets/boleto_prod.png);
    width: 16px;
    height: 11px;
    display: inline-block;
    margin-right: .5rem;
    vertical-align: middle;
}

#alpix .specification__row{
    margin-top: -1.5rem;
    margin-bottom: 1.5rem;
}
#alpix .specification__row span{
    padding-top: 10px;
    color: #6d6e71;
    font-size: .8125em;
    text-transform: uppercase;
    font-weight: 500;
    display: block;
}
#alpix .specification__row span .specification__ico{}
#alpix .specification__row span .specification__ico.graudetorra{
    height: 24px;
    width: 24px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    border-radius: 50%;
    margin-top: -2px;
}
#alpix .specification__row span .specification__ico.graudetorra.leve{background:#a67c52}
#alpix .specification__row span .specification__ico.graudetorra.media{background:#603913}
#alpix .specification__row span .specification__ico.graudetorra.forte{background:#000;}
#alpix .specification__row:not(:empty){
    position: relative;
    padding-bottom: 1.5rem;
    margin-bottom: 2.5rem;
}
#alpix .specification__row:not(:empty):before{
    content: "";
    position: absolute;
    width: calc(100% - 30px);
    border-bottom: 1px solid #000;
    left: 15px;
    bottom: 0;
}

#alpix .page--products #product-description .html-clearfix h1,
#alpix .page--products #product-description .html-clearfix h2,
#alpix .page--products #product-description .html-clearfix h3,
#alpix .page--products #product-description .html-clearfix h4,
#alpix .page--products #product-description .html-clearfix h5{
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    position: relative;
    margin: 3rem 0 2rem;
    color: #000;
}
#alpix .page--products #product-description .html-clearfix h1:before,
#alpix .page--products #product-description .html-clearfix h2:before,
#alpix .page--products #product-description .html-clearfix h3:before,
#alpix .page--products #product-description .html-clearfix h4:before,
#alpix .page--products #product-description .html-clearfix h5:before{
    content:"";
    height:8px;
    width:90px;
    display:block;
    margin:0 auto 20px auto;
    background:#755f72;
}

.graudetorra__ruler{
    background: #a67c52;
    background: linear-gradient(90deg,#a67c52,#603913 51%,#000);
    height: 16px;
    border-radius: 30px;
    margin-bottom: 2rem;
    position:relative
}
.graudetorra__ruler .ruler_position{
    height: 40px;
    width: 40px;
    background: #ccc;
    position: absolute;
    top: calc(50% - 20px);
    border: 4px solid #fff;
    border-radius: 50%;
}
.graudetorra__ruler .ruler_position.leve{
    background:#a67c52;
    left:0;
}
.graudetorra__ruler .ruler_position.media{
    background:#603913;
    left: calc(50% - 20px);
}
.graudetorra__ruler .ruler_position.forte{
    background:#000;
    right:0;
    left:auto;
}

.graudetorra__ruler + .row label{text-transform:uppercase;font-size:13px;color:#6d6e71;font-weight:500;}
.product-card__prices .prices__value:first-child{margin:0;}
.product-card__link:hover{text-decoration:none;}

.product-item{position:relative;padding:0 1rem;}
.product-item > .listing__labels{
    height: 96px;
    width: 100%;
    position: absolute;
    top: 10px;
    left: 1rem;
    z-index: 2;
    background-repeat: no-repeat;
    pointer-events:none;
}


#alpix .product-card .specification__row:before{display:none;}
#alpix .product-card .specification__row:not(:empty){
    margin:0;
}
#alpix .product-card .specification__row .specification__ico{height:18px!important;width:18px!important}
.w-100{width:100%;}
.header__nav > ul{padding:0;list-style-type:none}
.dx-caret{
    border-top: 6px solid #000;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    vertical-align: middle;
    display: inline-block;
}
.header__nav .dx-caret{
    margin: -3px 0px 0 -5px;
}
#alpix .header,
#alpix .header__container{margin-bottom:0;border-bottom:0;}
#alpix .header__nav > ul > li{}
#alpix .header__nav > ul > li > span{position:relative;display:block;padding-bottom:0.5rem;}
#alpix .header__nav  > ul > li:hover > span:before,
#alpix .header__nav  > ul > li.open > span:before{
    content: "";
    height: 6px;
    background: #49372e;
    width: 100%;
    position: absolute;
    bottom: 4px;
    left: 0;
}
#alpix .header__nav .dropdown{position:initial}
#alpix .header__nav .dropdown.open > .dropdown-menu,
#alpix .header__nav .dropdown:hover > .dropdown-menu{
    pointer-events:all;
    margin:0;
    opacity:1;
}
#alpix .header__nav .dropdown .dropdown-menu{
    background: #49372e;
    border: 0;
    border-radius: 0;
    top: 100%;
    width: 100%;
    padding: 2rem 1rem;
    margin:15px 0 0 0;
    display:flex;
    justify-content:flex-start;
    pointer-events:none;
    opacity:0;
    transition:all .3s;
}
#alpix .header__nav .dropdown .dropdown-menu > li > a{font-size:12px;font-weight:800;text-transform:uppercase;color:#fff;}
#alpix .header__nav .dropdown .dropdown-menu > li > ul{list-style-type:none;padding:0;margin:.5rem 0 1rem 0;}
#alpix .header__nav .dropdown .dropdown-menu > li > ul > li{}
#alpix .header__nav .dropdown .dropdown-menu > li > ul > li > a{line-height:12px;display:inline-block;text-transform:initial;font-size:12px;font-weight:500;color:#feedd7}
#alpix .page--home>.sections>.banners-grid:first-child{margin-top:-2.5px!important}

#alpix .header__nav .dropdown .dropdown-menu:before{
    content: "";
    position: absolute;
    background: #49372e;
    top: 0;
    width: 3000px;
    left: calc(-50%);
    height: 100%;
    box-shadow: 0px 3px 3px rgba(0,0,0,.3);
}

#alpix .header__nav a:hover{background:transparent!important}
#alpix .header__nav .dropdown-menu a:hover{text-decoration:underline;}
#alpix .header__search{overflow:visible}
#alpix #header #instant-search{}
#alpix #header #instant-search > .backdrop{display:none;}
#alpix #header #instant-search .search__box.card{
    position: absolute;
    left: 0;
    top: 100%;
    margin: 0;
    z-index: 1;
    box-shadow: 5px 5px 5px rgba(0,0,0,.1);
    border-radius: 0;
    width: 550px;
    border-top: 4px solid #4f2209;
    margin-top: 15px;
}
#alpix #header #instant-search .search__box.card .search__header{display:none;}
#alpix #header #instant-search .search__box.card .search-engine__results{}
#alpix #header #instant-search .search__box.card .search-engine__results .search-engine__info h3{display:none;}
#alpix #header #instant-search .search__box.card .search-engine__results .search-engine__retail{}
#alpix #header #instant-search .search__box.card .search-engine__results .search-engine__retail > .row{display:block;}
#alpix #header #instant-search .search__box.card .search-engine__results .search-engine__retail > .row > div{display:block;width:100%;max-width:100%;}

#alpix #header #instant-search .search__box.card .search-engine__results .search-engine__retail > .row > div .product-card .product-card__buy,
#alpix #header #instant-search .search__box.card .search-engine__results .search-engine__retail > .row > div .product-card .product-card__offer-stamp{display:none}

#alpix #header #instant-search .search__box.card .search-engine__results .search-engine__retail > .row > div .product-card section,
#alpix #header #instant-search .search__box.card .search-engine__results .search-engine__retail > .row > div .product-card section .product-card__link{
    display:flex;
    align-items:center;
}
#alpix #header #instant-search .search__box.card .search-engine__results .search-engine__retail > .row > div .product-card section .product-card__pictures{height:auto;}
#alpix #header #instant-search .search__box.card .search-engine__results .search-engine__retail > .row > div .product-card section picture{max-width:100px;}
#alpix #header #instant-search .search__box.card .search-engine__results .search-engine__retail > .row > div .product-card .product-card__name{
    padding:0 1rem;
    white-space: normal;
    width: 350px;
    text-align: left;
}
#alpix #header #instant-search .search__box.card .search-engine .lead{font-size:14px;margin-top:.5rem}
#alpix #header #instant-search .search__box.card .search-engine h4{font-size:18px;}
#alpix #header #instant-search .search__box.card .search-engine__results .prices{text-align:right;}
#alpix #header #instant-search .search__box.card .search-engine__results .prices > *{margin:0;display:block;text-align:right;}

#alpix .search__footer{
    font-size: 12px;
    background: #4f2209;
    border-radius: 0;
    border: 0;
}
#alpix .search__history,
#alpix .search__history a,
#alpix .search__count{color:#fff;font-size:12px;white-space:normal}

#alpix #cart-quickview{}
#alpix #cart-quickview .card-header{
    color:#784324   ;
    background: #fde9ce;
    border:0;
    text-transform:uppercase;
    text-align:left;
    font-weight:600;
}
#alpix #cart-quickview a.minicart__btn-cart,
#alpix #cart-quickview .card-header button{display:none}
#alpix #cart-quickview .minicart__body a.btn-block,
#alpix #cart-quickview a.minicart__btn-checkout{
    background:#784324;
    font-weight:500;
    color:#fff;
    border:15px solid #fff;
    border-radius:0;
    text-transform:uppercase;
    padding:15px;
}
#alpix #cart-quickview a.minicart__btn-checkout{border:0;background: #6ccf7a;}

#alpix #cart-quickview .minicart__body .minicart__empty p.text-muted{text-align:left;padding:0 15px;}
#alpix #cart-quickview .minicart__body .cart-item__container{padding-left:15px;}
#alpix #cart-quickview .minicart__body .cart-item__data{text-align:left;padding-right:30px;}
#alpix #cart-quickview .minicart__body .cart-item__data .cart-item__name,
#alpix #cart-quickview .minicart__body .cart-item__data .cart-item__name a{text-align:left;color:#666;font-size:12px;white-space:nowrap;}
#alpix #cart-quickview .minicart__body .cart-item__data .custom-select{
    border: 0;
    border-bottom: 1px solid #000;
    border-radius: 0;
    font-weight: 600;
    color: #212529;
    font-size: .8571428571428571em;
    height: 36px;
}
#alpix #cart-quickview .minicart__body .cart-item__data .cart-item__prices{font-size:12px;}
#alpix #cart-quickview .minicart__body .cart-item__data .close{
    margin-right:-20px;
    color:#666;
    font-size:12px;
}
#alpix #cart-quickview .minicart__body .cart-item__quantity strong{font-size:12px;}
#alpix #cart-quickview .card-footer{background:transparent;}
#alpix #cart-quickview .minicart__subtotal *{color:#666;}
#alpix #cart-quickview .minicart__subtotal strong{font-weight:600;}

#alpix .page-title__head{display:block;margin-top:2.5rem;}
#alpix .page-title__head h1{
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1.5rem;
    color:#000;
    text-align:center;
    display:block;
}
#alpix .page-title__head h1 b{
    color: #755f72;
    font-weight: 800;
}
#alpix .page-title__head:before{
    width:fit-content;
    margin-left:auto;
    margin-right:auto;
}

#alpix [data-cms-collection="posts"]{}
#alpix [data-cms-collection="posts"] .custom-content{}
#alpix [data-cms-collection="posts"] .custom-content h2,
#alpix .offers-timer h3{
    font-size:1.3571428571428572em;
    font-weight:800;
    color:#000;
    margin:1.5rem 0 2rem 0;
}
#alpix [data-cms-collection="posts"] .custom-content p,
#alpix .offers-timer p{
    font-size:0.9285714285714286em;
    color:#000;
    line-height:calc(0.9285714285714286em * 2);
}

.offers-timer{border:0!important;}

#alpix .mosaico-footer .banner + .banner{margin-top:2rem;}

#alpix #page-home .newsletter > .row:first-child{
    margin-top:5rem;
}
#alpix #page-home .newsletter > .row{align-items:center;}
#alpix #page-home .newsletter img{margin-top: -10rem;}
#alpix #page-home .newsletter p{
    font-size: 18px;
    text-transform: uppercase;
    text-align: justify;
    color: #000;
}
#alpix #page-home .newsletter form{}
#alpix #page-home .newsletter form input{
    height: 36px;
    border: 0;
    border-bottom: 1px solid #000;
    width: calc(100% - 30px);
    font-size: 12px;
    color: #000;
    margin-left: 30px;
    outline:none;
}
#alpix #page-home .newsletter form button{
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    height: 36px;
    border: 1px solid #000;
    border-radius: 36px;
    padding: 0 26px;
}

@media(min-width:100px) and (max-width:768px){
    #alpix .page--home>.sections>.banners-grid:first-child>.container{
        width:100%;
        left:0;
        transform:unset;
    }
    #alpix #header{padding:0; margin:0.5rem 0;}
    #alpix .m-search.collapse{display:block;}
    #alpix .header__search-input{
        width:100%;
        background:#e1e1e1;
        border:0;
        border-radius:36px;
        padding:0 15px;
        margin:1rem 0 .5rem 0;
        height:36px;
        font-size:12px;
    }
    #alpix .header__search-btn{height:36px;right:5px;}
    #alpix .header__search{width:100%;}
    #alpix .page--home>.sections>.banners-grid:first-child .banner{padding:.5rem 1rem;}
    #alpix .products-carousel__title b{display:block;}
    #alpix .page-title__head:before, #alpix .products-carousel__title:before{
        font-size:12px;
    }
    #alpix .offers-timer a, #alpix .product-card .product-card__buy.fade .btn{
        max-width:100%;
        padding:0 1.5rem;
    }
    #alpix .products-carousel__title{padding-left:0;padding-right:0;}
    
    #alpix .glide .product-card{padding:0 2rem;}
    .glide__arrows--outer .glide__arrow--left{left:-7.5px;}
    .glide__arrows--outer .glide__arrow--right{right:-7.5px}

    #alpix #page-home .collection-shelf + .banners-grid{display:none;}
    #alpix .footer .newsletter > .row{margin-top:1rem!important}
    #alpix .footer .footer__title,
    #alpix .footer .footer__title *{text-align:center;font-weight:800;font-size:20px;}
    #alpix .footer .newsletter form input{
        background:transparent;
        border-color:#fff!important;
        width:100%!important;
        margin-left:0!important;
        max-width:100%;
    }
    #alpix .footer .newsletter form input::-webkit-input-placeholder {
    color: white;
    }
      
    #alpix .footer .newsletter form input:-ms-input-placeholder {
    color: white;
    }
    
    #alpix .footer .newsletter form input::placeholder {
    color: white;
    }
    #alpix .footer .newsletter button{
        border:1px solid #fff!important;
        color:#fff;
        font-weight:400!important;
        height:32px!important;
        padding:0 20px!important;
    }
    .footer__links{text-align:center;}
    #alpix .footer .footer__payment-methods>img{margin:15px 15px!important;}
    .footer__payment-methods,
    footer .stamps{
        text-align:center;
        justify-content: center;
    }
    #alpix .footer .footer__texto{padding: 0 2rem;text-align:center;}
    #alpix .footer .list-inline,
    #alpix .footer .list-unstyled,
    .footer__social{text-align:center;}

    #alpix .mosaico-footer + .custom-html{display:none;}
}